html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.col-md-11 {
  background-color: bisque;
}

.order {
  display: none;
}

.tog {
  padding-left: 0.5rem;
}

.col-md-1 {
  background-color: brown;
  font-size: larger;
}

.tim {
  display: none;
}

#name {
  padding-top: 4px;
  padding-left: 10px;
}
